* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
body {
    background-color:azure;
}
.header {
    display: flex;
    background-color: #D5D6EA;
    border-radius: 25px;
    flex-direction: column;
    margin-bottom: 10px;
}

.headerUP {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 25px;
    background-color: antiquewhite;
}

.headerTitle {
    margin-left: 25px;
    margin-top: 10px;
    flex: 1;
}

.headerLinks ul {
    list-style: none;
    display: flex;
    margin-right: 50px;
    flex: 1;
}

.headerLinks li {
    margin: 10px;
    border-radius: 25px;
    background-color: aliceblue;
    padding: 10px;
    font-size: 18px;
    border-style: solid;
    border-color: #D5D6EA;
    border-width: 1px;
}

.headerDOWN {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 50px;
    justify-content: space-between;
    gap: 10px;
}
.headerText {
   justify-self: left;
   flex: 1;
   padding-right: 10px;
   background-color: antiquewhite;
   border-radius: 25px;
}
.headerText h1 {
    margin-left: 10px;
}
.headerText h3 {
    margin-left: 10px;
   
}
.headerText p {
    margin-left: 10px;
    font-size: 18px;
}

.headerText button {
    margin-left: 10px;
    background-color: aliceblue;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 10px;
}

.headerProfPhoto {
    display: flex;
    justify-self: right;
    flex: 1;
}

.headerProfPhoto img {
    width: 300px;
    height: auto;
    flex: 1;
    border-radius: 25px;
    align-self: center;
}

.portfolio {
    display: flex;
    background-color: #D5D6EA;
    border-radius: 25px;
    margin-bottom: 10px;
    flex-direction: column;
}

.portfolio h2 {
    margin-left: 10px;
}

.portfolioUP {
    flex: 1;
    background-color: antiquewhite;
    border-radius: 25px;
    margin-bottom: 10px;
}

.portfolioDOWN {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}

.portfolioOne {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-width: 5px;
    border-color:cornflowerblue;
    border-style: solid;
    margin: 10px;
    border-radius: 25px;
    background-color: cornflowerblue;
}

.portfolioOneImg1 {
    flex: 1;
    border-width: 5px;
    margin: 10px;
    align-self: center;
}

.portfolioOneImg1 img{
    width: 200px;
    height: auto;
    flex: 1;
    border-radius: 25px;
    align-self: center;
}

.portfolioOneSubtext{
    align-self: center;
    font-size: 26px;
}

.portfolioTwo {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-width: 5px;
    border-color:cornflowerblue;
    border-style: solid;
    margin: 10px;
    border-radius: 25px;
    background-color: cornflowerblue;
}

.portfolioTwoImg1 {
    flex: 1;
    border-width: 5px;
    margin: 10px;
    align-self: center;
}

.portfolioTwoImg1 img{
    width: 200px;
    height: auto;
    flex: 1;
    border-radius: 25px;
    align-self: center;
}

.portfolioTwoSubtext{
    align-self: center;
    font-size: 26px;
}

.portfolioThree {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-width: 5px;
    border-color:cornflowerblue;
    border-style: solid;
    margin: 10px;
    border-radius: 25px;
    background-color: cornflowerblue;
}

.portfolioThreeImg1 {
    flex: 1;
    border-width: 5px;
    margin: 10px;
    align-self: center;
}

.portfolioThreeImg1 img{
    width: 200px;
    height: auto;
    flex: 1;
    border-radius: 25px;
    align-self: center;
}

.portfolioThreeSubtext{
    align-self: center;
    font-size: 26px;
}




.artistStatement {
    display: flex;
    flex-direction: column;
    background-color: #D5D6EA;
    border-radius: 25px;
    margin-bottom: 10px;
}

.AboutHeader {
    background-color: antiquewhite;
    border-radius: 25px;
}
.AboutHeader h2 {
    margin-left: 10px;
}

.quoteAttribute {
    flex: 1;
    margin: 10px;
}

.quoteAttribute p {
    font-size: 18px;
}

.contactPage {
    display: flex;
    background-color: #D5D6EA;
    border-radius: 25px;
    flex-direction: column;
}
.contactPageUpper {
    display: flex;
    flex: 1;
    background-color: antiquewhite;
    border-radius: 25px;
}

.contactPageUpper h2 {
    margin-left: 10px;
}

.contactPageLower {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 15px;
}

.contactPageLower button {
    width: 300px;
    height: 100px;
    border-radius: 25px;
    font-size: 18px;
    background-color: aliceblue;

}

.footer {
    display: flex;
    justify-self: center;
}

.footerText {
    flex: 1;
    display: flex;
    justify-content: center;
}